@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger">Error</h3>
<h3 class="text-danger">@Model.message</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
