@model EditDictionaryViewModel

@functions{

}

@using (Html.BeginForm("SaveDictionary", "Home")) {

    <label for="dictionaryName">Dictionary: </label>
    <input type="text" id="dictionary" name="dictionary" style="width:120px" value=@Model.dictionaryName readonly>
    <table class="table">
        @* <tr> *@
            @{
                foreach(var item in Model.dictionaryItem) {
                    <tr>
                        <th>
                        <label for="items"></label>
                        <input type="text" id="items" name=items style = "width:400px" value=@item multiple>
                        </th>
                        <th>
                        <form action=@Url.Action("RemoveDictionaryItem", new {dictionary=@Model.dictionaryName, item = @item}) method="post">
                        <button name=Remove>Remove</button>
                        </form>
                        </th>
                    </tr>
                }
            }

        @* </tr> *@
    </table>

<input type="submit">
}

<div>
    <a href=@Url.Action("Index")>
        <button method="post" class="button">Cancel</button>
    </a>
</div>


<div>
    <a href=@Url.Action("AddDictionaryItem")>
        <button method="post" class="button">Add</button>
    </a>
</div>

