@model EditDictionaryItemViewModel

@functions{
    public object getEventParameters()
    {
        var editedItem = Context.Request.Query["item"].ToString();
        var dictionary = Context.Request.Query["dictionary"].ToString();

        return new
        {
            dictionary,
            editedItem,
        };
    }
}


@using (Html.BeginForm("SaveDictionaryItem", "Home", getEventParameters()))
{
    <label for="item" value="Save"></label>
    <input type="text" id="item" name="item" style="width:100%" value=@Context.Request.Query["item"].ToString()>
    <div>
        <a href=@Url.Action("EditDictionary", new {dictionary=Context.Request.Query["dictionary"].ToString()})>
            <button method="post" class="button button3">Cancel</button>
        </a>
        <input class="button button1" style="float:right" type="submit" value="Save">
    </div>
}
